* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #000;
}

.clear-fix:after {
    content: "";
    display: block;
    clear: both;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* body::-webkit-scrollbar {
    display: none;
} */
/* Hide scrollbar for IE, Edge and Firefox */
/* body {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

body {
    overflow-y: overlay;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }